<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="post">
        <div>
        <label for="name">Ingresar su nombre:</label>
        <input type="text" name="name">
        </div>
        <div>
        <select name ="color" id="color">Seleccionar:
            <option value="c1">Elegir opción</option>
            <option value="c1">Amarillo</option>
            <option value="c2">Celeste</option>
            <option value="c3">Rosa</option>
            <option value="c4">Verde</option>
        </select>
        </div>
        <div>
        <label for="correo">Ingrese su email:</label>
        <input type="email" name="correo">
        </div>
        <div>
        <label for="edad">Ingrese su edad:</label>
        <input type="number" name="edad">
        </div>
        <div>
        
        <button type="submit">Enviar</button>
        </div>

    </form>


    
</body>
</html>